h1,h2
{
    color:green;
    font-family: Arial, Helvetica, sans-serif;
}

article
{
    background-color: teal;
    background-image: url('https://th-thumbnailer.cdn-si-edu.com/S7OOwIjetYi8vW841rtd7Oq8Nuw=/1026x684/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer_public/45/b5/45b5ce2f-0e20-4b77-bf77-e5240e37ec6a/1920w.jpeg');
    width: 20;
    height: 300;
    color: red;
    font-family: Impact;
}

.blur
{
    backdrop-filter: blur(5px);
    background-color: rgba(225, 225, 225, 0.3);
}

.container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5px;
    background-color: lightgray;
}

.item
{
    flex: 1;
    align-self: center;
    background-color: steelblue;
    color: rgb(24, 187, 62);
}

div p 
{
    color:blue;
}

a:hover
{
    color:black;
}

input[type="text"]
{
    border: 6px solid red;
}

.container2
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: 2fr;
    gap:10px;
    padding: 10px;
    background-color: blueviolet;
}

.item2
{
    background-color: goldenrod;
    color: aqua;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

.container3
{
    display:grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 10px;
    background-color: aqua;
}

.item3
{
    background-color: red;
    color: purple;
    padding: 20px;
    text-align: center;
    font-size: 16px;
}