h1,h2
{
    color:green;
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    background-color: teal;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div p 
{
    color:blue;
}

a:hover
{
    color:black;
}

input[type="text"]
{
    border: 6px solid red;
}