h1,h2
{
    color:green;
    font-family: Arial, Helvetica, sans-serif;
}

article
{
    background-color: teal;
    background-image: url('https://th-thumbnailer.cdn-si-edu.com/S7OOwIjetYi8vW841rtd7Oq8Nuw=/1026x684/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer_public/45/b5/45b5ce2f-0e20-4b77-bf77-e5240e37ec6a/1920w.jpeg');
    width: 20;
    height: 300;
    color: red;
    font-family: Impact;
}

.blur
{
    backdrop-filter: blur(5px);
    background-color: rgba(225, 225, 225, 0.3);
}

.container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: lightgray;
}

.item
{
    flex: 1;
    align-self: center;
    background-color: steelblue;
    color: white;
}

div p 
{
    color:blue;
}

a:hover
{
    color:black;
}

input[type="text"]
{
    border: 6px solid red;
}